.container {
    margin: 5% auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
}

.text {
    background-color: rgba(255, 255, 255, 0.2);
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 20px;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: #F2E2D2;
    border: none;
    cursor: pointer;
    background-color: rgba(1, 25, 54, 0.8);
    border-radius: 20px;
    padding: 10px 15px;
    margin: auto;
    display: block;
    width: fit-content;
}

a:hover {
    background-color: rgba(1, 25, 54, 0.5);
}