ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7CB518;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover:not(.active) {
  background-color: #011936;
}
